
/* PRIVACY GLASSES PLUGIN */
.workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container, .cm-callout), 
.workspace-leaf-content.is-md-view-headlines-only :is(.cm-line, .cm-callout), 
.workspace-leaf-content.is-non-md-view, 
.privacy-glasses-blur-all .workspace-tab-header-inner-title, 
.privacy-glasses-blur-all #quick-explorer, 
.privacy-glasses-reveal-headlines .workspace-tab-header-inner-title, 
.privacy-glasses-reveal-headlines #quick-explorer 
{
  --x: calc(1px * 1);
  --y: calc(var(--x) * -1);
  --z: 0;
  
  filter: none;
  color: var(--text-faint);
  transition: text-shadow ease-out 0.3s;
  text-shadow: 
    var(--x) var(--z) var(--z), 
    calc(2 * var(--x)) var(--z) var(--z),
    calc(3 * var(--x)) var(--z) var(--z),
    calc(4 * var(--x)) var(--z) var(--z),
    calc(5 * var(--x)) var(--z) var(--z),
    calc(6 * var(--x)) var(--z) var(--z),
    calc(7 * var(--x)) var(--z) var(--z),
    calc(8 * var(--x)) var(--z) var(--z),
    calc(9 * var(--x)) var(--z) var(--z),
    calc(10 * var(--x)) var(--z) var(--z),
    calc(11 * var(--x)) var(--z) var(--z),
    calc(12 * var(--x)) var(--z) var(--z),
    calc(13 * var(--x)) var(--z) var(--z);
}



.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container).inline-title:focus-within,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container).cm-active,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-non-md-view.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-non-md-view.cm-active,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all .workspace-tab-header-inner-title.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all .workspace-tab-header-inner-title.cm-active,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all #quick-explorer.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all #quick-explorer.cm-active,
.privacy-glasses-reveal-under-caret :is(.media-embed, .image-container) :is(img, video, svg, canvas).inline-title:focus-within,
.privacy-glasses-reveal-under-caret :is(.media-embed, .image-container) :is(img, video, svg, canvas).cm-active,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container, .cm-callout):hover,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-non-md-view:hover,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-md-view-headlines-only :is(.cm-line, .cm-callout):hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-blur-all .workspace-tab-header-inner-title:hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-reveal-headlines .workspace-tab-header-inner-title:hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-blur-all #quick-explorer:hover,
.privacy-glasses-reveal-on-hover :is(.media-embed, .image-container) :is(img, video, svg, canvas):hover,
.privacy-glasses-reveal.workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container),
.privacy-glasses-reveal.workspace-leaf-content.is-non-md-view,
.privacy-glasses-reveal.privacy-glasses-blur-all .workspace-tab-header-inner-title,
.privacy-glasses-reveal.privacy-glasses-blur-all #quick-explorer,
.privacy-glasses-reveal.privacy-glasses-reveal-headlines .workspace-tab-header-inner-title,
.privacy-glasses-reveal.privacy-glasses-reveal-headlines #quick-explorer,
.privacy-glasses-reveal :is(.media-embed, .image-container) :is(img, video, svg, canvas),
.workspace-tab-header .workspace-tab-header-inner-title:hover,
.workspace-leaf-content.is-md-view-headlines-only .HyperMD-header,
.privacy-glasses-reveal :is(.cm-callout):is(.cm-callout),
.privacy-glasses-reveal-all :is(.cm-callout):is(.cm-callout) 
{
  text-shadow: none;
  color: initial;
  transition: text-shadow ease-out 0.3s;
}
